{
    "env": {
        "react-native/react-native": true
    },
    "extends": ["airbnb", "plugin:prettier/recommended"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "react-native",
        "react-hooks",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error",
        "react/static-property-placement": 0,
        "react/jsx-indent": [
            "error",
            4
        ],
        "react-native/no-unused-styles": 2,
        "react-native/no-inline-styles": 2,
        "react-native/no-color-literals": 2,
        "global-require": 0,
        "no-use-before-define": [
            "error",
            {
                "functions": true,
                "classes": true,
                "variables": false
            }
        ]
    }
}